{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'besystem/css/master.css' %}">
<img src="{% static "image/python_django.png" %}" alt="Title_Logo" class="logopic">
<div class="container">

  <h1>Personal Blog Menu</h1>
  <p></p>
    <div class="main_menu">
      <div class="list-group">

        <a href="{% url 'work_instruction:index' %}" class="list-group-item">
          <h4 class="list-group-item-heading">PERSONAL DOCUMENT</h4>
          <p class="list-group-item-text">Host user can upload and upgrade the documents</p>
        </a>

        <!-- <a href="{% url "project:index" %}" class="list-group-item">
          <h4 class="list-group-item-heading">PERSONAL BLOG</h4>
          <p class="list-group-item-text">Host user can post articles and reginsted user can make comments</p>
        </a> -->

        <a href="{% url "problem:all" %}" class="list-group-item">
          <h4 class="list-group-item-heading">DISCUSSION FORUM</h4>
          <p class="list-group-item-text">Registed user can post article and make comments in this section</p>
        </a>

      </div>
    </div>
</div>
{% endblock %}
